@media (width <=544px) {

    .big_container,
    .small_container {
        display: flex;
        flex-direction: column;
    }
}

@media (width > 544px) {
    .container {
        display: grid;
    }

    .big_container {
        grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    }

    .small_container {
        grid-template-columns: repeat(auto-fill, minmax(377px, 1fr));
    }
}

.big_container {
    composes: container;
}

.small_container {
    composes: container;
}

.container {
    gap: var(--space-md);
    padding: var(--space-md) 0;
}

.container figure {
    position: relative;
    aspect-ratio: 16/9;
}