.code{
    display: inline-block;
    padding: 2px 4px;
    font-size: var(--caption);
    background-color: var(--gray);
    border-radius: var(--space-xs);
    color: var(--darkaccent);
}

.info{
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-xs) var(--space-sm) var(--space-sm) var(--space-sm);
    background-color: var(--preaccent);
    border-radius: var(--space-sm);
}

.info_header{
    font-size: var(--caption);
    color: var(--darkaccent);
}

.info_header span{
    margin-left: var(--space-xs);
}

.codeblock pre code{
    background-color: inherit;
    padding: inherit;
    font-family: inherit;
}

.codeblock pre{
    margin: 0;
}

.codeblock{
    background-color: var(--codearea);
    border-radius: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-xs) var(--space-sm) var(--space-sm) var(--space-sm);
}

.codeblock{
    font-size: var(--caption);
    color: var(--white);
}

.codeblock span{
    margin-left: var(--space-xs);
}
