:root {
  --black: #393939;
  --lightblack: #565656;
  --white: #FAFAFA;
  --accent: #4369DB;
  --warning: #db4366;
  --darkgray: #bdbdbd;
  --gray: #EEECEC;
  --preaccent: #CED8F6;
  --darkaccent: #4e6091;
  --darkwarning: #8c5353;
  --codearea: #282c34;
  /* --darkgray: #b1b1b1;
  --prewarning: #f3d6d6; */

  --toptitle: clamp(2.25rem, 1.972rem + 1.39vw, 3rem);
  /*48-36px*/
  --secondtitle: clamp(1.75rem, 1.657rem + 0.46vw, 2rem);
  /*28-32px*/
  --thirdtitle: clamp(1.313rem, 1.243rem + 0.35vw, 1.5rem);
  /*21-24px*/
  --forthtitle: clamp(1.125rem, 1.0787rem + 0.2315vw, 1.25rem);
  /*14-16px*/
  --text: clamp(0.875rem, 0.829rem + 0.23vw, 1rem);
  /*14-16px*/
  --caption: clamp(0.75rem, 0.7037rem + 0.2315vw, 0.875rem);
  /*10-12px*/

  --space-xs: clamp(0.438rem, 0.414rem + 0.12vw, 0.5rem);
  /*7-8px*/
  --space-sm: clamp(0.875rem, 0.829rem + 0.23vw, 1rem);
  /*14-16px*/
  --space-md: clamp(1.313rem, 1.243rem + 0.35vw, 1.5rem);
  /*21-24px*/
  --space-ml: clamp(2rem, 1.907rem + 0.46vw, 2.25rem);
  /*32px-36px*/
  --space-lg: clamp(3.688rem, 3.572rem + 0.58vw, 4rem);
  /*59-64px*/

  /* --space-xs: clamp(0.5rem, 0.4537rem + 0.2315vw, 0.625rem); 
  --space-sm: clamp(1rem, 0.9432rem + 0.2841vw, 1.125rem);
  --space-md: clamp(1.5rem, 1.4432rem + 0.2841vw, 1.625rem);
  --space-ml: clamp(2.25rem, 2.1932rem + 0.2841vw, 2.375rem);
  --space-lg: clamp(4rem, 3.9432rem + 0.2841vw, 4.125rem); */
}

body {
  color: var(--black);
  background-color: var(--white);
  font-size: var(--text);
}

h1 {
  font-size: var(--toptitle);
  font-weight: 800;
}

h2 {
  font-size: var(--secondtitle);
  font-weight: 800;
}

h3 {
  font-size: var(--thirdtitle);
  font-weight: 800;
}

h4 {
  font-size: var(--forthtitle);
  font-weight: 800;
}

p {
  font-size: var(--text);
  font-weight: 500;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
