.header{
    border-bottom: solid 1px var(--gray);
}

.inner{
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-md);
}

@media ( width<=544px ){
    .subcaption{
        display: none;
    }
}

