.contact{
    background-color: var(--gray);
    padding: var(--space-ml) var(--space-sm) var(--space-sm);
    border-radius: var(--space-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

.placeholder{
    border-radius: var(--space-sm);
    background-color: var(--gray);
    display: flex;
    min-height: 128px;
    justify-content: center;
    align-items: center;
}