.top_bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-sm);
    padding: var(--space-sm) 0;
}
@media (width<=544px){
    .catchphrase{
        font-size: clamp(1.75rem, 1.657rem + 0.46vw, 2rem);;
    }
}
.catchphrase{
    white-space: pre-wrap;
    text-align: center;
    padding: var(--space-lg) 0;
}

.eyecatch{
    width: 100%;
    height: auto;
    border-radius: var(--space-sm);
    margin-bottom: var(--space-lg);
}